Woocomerece Workflows/Competitor Price Monitor with AI-Powered Alerts.json
{
  "name": "Competitor Price Monitor with AI-Powered Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "3416d28c-60eb-46b6-819f-bfea2a7ab03c",
      "name": "Schedule Trigger - Every 12h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        528
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "PUT_YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "CompetitorURLs",
          "mode": "list",
          "cachedResultName": "CompetitorURLs"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "active",
              "lookupValue": "TRUE"
            }
          ]
        },
        "options": {}
      },
      "id": "bfb1988a-79cb-47ac-8eb6-8a407d9c36d5",
      "name": "Get Competitor URLs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -304,
        528
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cd73d008-04c1-450d-b8a8-6a8950bad29f",
      "name": "Loop Over Competitor URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -64,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.product_url, formats: ['markdown', { type: 'product' }], onlyMainContent: true, timeout: 30000, blockAds: true }) }}",
        "options": {
          "timeout": 35000
        }
      },
      "id": "6a5d319f-3d90-4759-932b-60697c88ec34",
      "name": "Scrape Competitor Page (Firecrawl)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        528
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "038d9a6e-7eae-4eee-96ad-fed51ebb32b2",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "82bc4911-7788-4fb8-bd19-fff3b123359d",
      "name": "IF: Scrape Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        528
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const original = $('Loop Over Competitor URLs').item.json;\nconst resp = $json;\nlet errorType = 'unknown';\nconst msg = (resp.error || resp.message || '').toString().toLowerCase();\nif (msg.includes('429') || msg.includes('rate') || msg.includes('quota')) errorType = 'rate_limit_or_quota';\nelse if (msg.includes('401') || msg.includes('403') || msg.includes('auth')) errorType = 'auth_error';\nelse if (msg.includes('timeout')) errorType = 'timeout';\nreturn { json: {\n  timestamp: new Date().toISOString(),\n  competitor_name: original.competitor_name,\n  product_url: original.product_url,\n  error_type: errorType,\n  error_message: resp.error || resp.message || 'Scrape failed after 3 retries',\n} };"
      },
      "id": "c487d4ba-c9e3-45c3-a23c-381df41722d5",
      "name": "Code: Tag Scrape Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        928
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "PUT_YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "FailedScrapes",
          "mode": "list",
          "cachedResultName": "FailedScrapes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "competitor_name": "={{ $json.competitor_name }}",
            "product_url": "={{ $json.product_url }}",
            "error_type": "={{ $json.error_type }}",
            "error_message": "={{ $json.error_message }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "98d73cf9-ca36-439b-9a1a-e4b5b21faef4",
      "name": "Log Failed Scrape",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        944,
        928
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract product data for a competitor price-monitoring system.\n\nRaw page markdown:\n{{ $json.data.markdown }}\n\nDeterministic structured data Firecrawl already parsed for this page (may be empty if the page wasn't recognised as a product page):\n{{ JSON.stringify($json.data.product || {}) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Tum ek e-commerce price extraction specialist ho. Goal: sirf ASLI selling price nikalo, MRP/list price/crossed-out price ko ignore karo jab tak woh khud current selling price na ho. Agar deterministic product data di gayi hai aur usme variants[0].price.amount maujood hai, USKO trust karo for price/currency/stock/sku/title - is data ko dobara guess mat karo. Tumhara real kaam hai: (1) shipping_cost dhoondo raw markdown text se (Firecrawl ka product format shipping cost capture nahi karta), (2) confirm karo ke koi extra/separate discount banner ya coupon deterministic data me reflect nahi hua, (3) agar deterministic data missing hai, tab tum khud markdown se price/title/sku/stock nikaalo - ads, related-product widgets aur MRP ko ignore karte hue. Confidence 0-1 do: 1.0 = deterministic data trusted, 0.5-0.8 = AI ne text se nikala but page clear thi, <0.5 = page confusing/ambiguous lagi. Currency missing ho to page ke locale se andaza lagao."
        }
      },
      "id": "0084a35d-ed67-4d3a-9645-c1569e25ba69",
      "name": "AI Agent: Extract Product Data",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        704,
        528
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "d8a5dc50-f0ad-430f-a3bd-f7f53b61a40a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1712,
        928
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": { \"type\": \"string\" },\n    \"sku\": { \"type\": [\"string\", \"null\"] },\n    \"price\": { \"type\": [\"number\", \"null\"] },\n    \"currency\": { \"type\": [\"string\", \"null\"] },\n    \"original_price\": { \"type\": [\"number\", \"null\"] },\n    \"discount_percent\": { \"type\": [\"number\", \"null\"] },\n    \"stock_status\": { \"type\": \"string\", \"enum\": [\"in_stock\", \"out_of_stock\", \"limited_stock\", \"unknown\"] },\n    \"shipping_cost\": { \"type\": [\"number\", \"null\"] },\n    \"confidence\": { \"type\": \"number\" },\n    \"notes\": { \"type\": \"string\" }\n  },\n  \"required\": [\"title\", \"price\", \"stock_status\", \"confidence\"]\n}"
      },
      "id": "0c514d21-4037-4f48-87de-017cf7cf670d",
      "name": "Structured Output Parser: Extraction",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        848,
        752
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const original = $('Loop Over Competitor URLs').item.json;\nconst scrape = $('Scrape Competitor Page (Firecrawl)').item.json;\nconst ai = $json; // parsed structured output from AI Agent\nconst det = (scrape.data && scrape.data.product) ? scrape.data.product : null;\nconst variant = det && det.variants && det.variants[0] ? det.variants[0] : null;\n\nlet price = ai.price, currency = ai.currency, stock_status = ai.stock_status;\nlet title = ai.title, sku = ai.sku, discount_percent = ai.discount_percent;\nlet extraction_source = 'ai';\n\nif (variant && variant.price && typeof variant.price.amount === 'number') {\n  price = variant.price.amount;\n  currency = variant.price.currency || currency;\n  stock_status = variant.availability && variant.availability.inStock === false ? 'out_of_stock' : 'in_stock';\n  title = det.title || title;\n  sku = variant.sku || sku;\n  if (variant.sale && variant.sale.originalPrice && typeof variant.sale.originalPrice.amount === 'number' && variant.sale.originalPrice.amount > 0) {\n    discount_percent = Math.round((1 - (price / variant.sale.originalPrice.amount)) * 1000) / 10;\n  }\n  extraction_source = 'deterministic+ai_shipping';\n}\n\nreturn { json: {\n  competitor_name: original.competitor_name,\n  product_url: original.product_url,\n  our_sku: original.our_sku,\n  store_url: original.store_url,\n  alert_threshold_percent: Number(original.alert_threshold_percent) || 5,\n  match_key: original.competitor_name + '|' + original.our_sku,\n  title: title,\n  sku: sku,\n  price: price,\n  currency: currency || 'USD',\n  discount_percent: discount_percent || 0,\n  stock_status: stock_status || 'unknown',\n  shipping_cost: ai.shipping_cost,\n  extraction_source: extraction_source,\n  confidence: ai.confidence,\n  scraped_at: new Date().toISOString(),\n} };"
      },
      "id": "490081b3-60e6-4e44-8c96-71cda9cf9f05",
      "name": "Code: Reconcile & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        528
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.store_url }}/wp-json/wc/v3/products",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sku",
              "value": "={{ $json.our_sku }}"
            }
          ]
        },
        "options": {}
      },
      "id": "642fe2db-5a3d-4156-bbdf-a445c6fb8aea",
      "name": "Get Our Price (WooCommerce REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        528
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const record = $('Code: Reconcile & Normalize').item.json;\nconst wooResp = Array.isArray($json) ? $json : ($json.body || $json);\nconst wooArr = Array.isArray(wooResp) ? wooResp : (Array.isArray($json) ? $json : []);\nconst wooProduct = wooArr && wooArr.length ? wooArr[0] : null;\nconst ourPrice = wooProduct ? parseFloat(wooProduct.price) : null;\nlet diffVsUs = null;\nif (ourPrice && record.price) {\n  diffVsUs = Math.round(((ourPrice - record.price) / ourPrice) * 1000) / 10;\n}\nreturn { json: { ...record, our_price: ourPrice, price_diff_vs_us_percent: diffVsUs } };"
      },
      "id": "42c9ee0f-b2e6-4660-ba30-378c41e5c92e",
      "name": "Code: Merge Our Price + Diff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        528
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "PUT_YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "LatestSnapshot",
          "mode": "list",
          "cachedResultName": "LatestSnapshot"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "match_key",
              "lookupValue": "={{ $json.match_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "833c1227-2562-44b3-8ed8-0d5ea2a00ac7",
      "name": "Get Latest Snapshot",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1696,
        528
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const record = $('Code: Merge Our Price + Diff').item.json;\nconst snapRows = Array.isArray($json) ? $json : [];\nconst prev = snapRows.length ? snapRows[0] : null;\n\nlet changePercent = null, stockChanged = false, isNew = !prev;\nif (prev && prev.last_price) {\n  changePercent = Math.round(((parseFloat(prev.last_price) - record.price) / parseFloat(prev.last_price)) * 1000) / 10;\n  stockChanged = prev.last_stock_status && prev.last_stock_status !== record.stock_status;\n}\n\nconst threshold = record.alert_threshold_percent || 5;\n// price-drop / stock-change need a prior baseline to mean anything;\n// an active discount is a fact about THIS scrape and is worth flagging\n// even on the very first check for a competitor+sku pair.\nconst significant = (\n  (!isNew && changePercent !== null && changePercent >= threshold) ||\n  (!isNew && stockChanged) ||\n  (record.discount_percent && record.discount_percent > 0)\n);\n\nreturn { json: {\n  ...record,\n  previous_price: prev ? parseFloat(prev.last_price) : null,\n  previous_stock_status: prev ? prev.last_stock_status : null,\n  change_vs_previous_percent: changePercent,\n  stock_changed: stockChanged,\n  is_new_product: isNew,\n  significant_change: significant,\n} };"
      },
      "id": "ab8ed6bb-8641-4e77-93ac-e8bf5ec413de",
      "name": "Code: Calculate Change vs History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ad56cb87-a982-4678-b172-a261314e03c0",
              "leftValue": "={{ $json.significant_change }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "1330a6a7-ee36-4249-b35a-039872fe4dad",
      "name": "IF: Crossed Alert Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2192,
        528
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { ...$json, alert_sent: false, alert_priority: 'none', summary: 'No meaningful change detected.', false_positive_reason: null } };"
      },
      "id": "6563fd6e-c217-4e94-b1d8-c80feaff4f45",
      "name": "Code: No Significant Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        1056
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Competitor price-change record (numeric threshold already crossed):\n{{ JSON.stringify($json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Tum ek competitive-pricing analyst ho. Numeric threshold cross ho gaya hai, lekin tumhara kaam hai FALSE POSITIVES pakadna pehle alert bhejne se. send_alert=false karo agar: confidence < 0.5 (extraction shaky thi), currency mismatch lagti ho aur change ghair-mumkin tarah bohot extreme ho (e.g. >80% drop ek hi din me bina kisi clearance signal ke), ya price/currency parsing me clear glitch lagti ho. Warna send_alert=true karo. alert_priority: high agar price hum se kam ho gaya ya stock newly in_stock with big discount, medium agar generic drop, low agar sirf stock-status change ya minor discount. subject aur summary Roman Urdu + English mix me likho, short aur seedha, store owner ko actionable lage. recommended_action ek line ka practical suggestion ho."
        }
      },
      "id": "86d49799-bfb3-485a-b78c-af76638fef50",
      "name": "AI Agent: Compose Alert Decision",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2448,
        528
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"send_alert\": { \"type\": \"boolean\" },\n    \"alert_priority\": { \"type\": \"string\", \"enum\": [\"low\", \"medium\", \"high\"] },\n    \"subject\": { \"type\": \"string\" },\n    \"summary\": { \"type\": \"string\" },\n    \"recommended_action\": { \"type\": \"string\" },\n    \"false_positive_reason\": { \"type\": [\"string\", \"null\"] }\n  },\n  \"required\": [\"send_alert\", \"alert_priority\", \"subject\", \"summary\"]\n}"
      },
      "id": "1dd35309-58d4-466b-a310-d72731a1ffc7",
      "name": "Structured Output Parser: Alert",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2656,
        800
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const record = $('Code: Calculate Change vs History').item.json;\nconst decision = $json; // parsed structured output from the alert agent\nreturn { json: { ...record, ...decision } };"
      },
      "id": "31afd197-4fb3-4ba4-a772-50bb7b3251e4",
      "name": "Code: Merge Alert Decision With Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d50150ae-844f-41d1-90e9-4dc2f9e29edb",
              "leftValue": "={{ $json.send_alert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c836cc7e-d7b5-4440-ad15-cfedeb9562ef",
      "name": "IF: Send Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2944,
        528
      ]
    },
    {
      "parameters": {
        "sendTo": "store-owner@example.com",
        "subject": "={{ $json.subject }}",
        "message": "=<p>{{ $json.summary }}</p><p><b>Competitor:</b> {{ $json.competitor_name }}<br><b>Product:</b> {{ $json.title }} ({{ $json.our_sku }})<br><b>Their price:</b> {{ $json.currency }} {{ $json.price }} (was {{ $json.previous_price }}, {{ $json.change_vs_previous_percent }}% change)<br><b>Our price:</b> {{ $json.our_price }} ({{ $json.price_diff_vs_us_percent }}% diff)<br><b>Stock:</b> {{ $json.stock_status }}<br><b>Priority:</b> {{ $json.alert_priority }}</p><p><b>Recommended action:</b> {{ $json.recommended_action }}</p><p><a href=\"{{ $json.product_url }}\">View competitor product page</a></p>",
        "options": {}
      },
      "id": "4a9b7537-ac5f-4ee5-a901-97ab05ac4a29",
      "name": "Send Price Drop Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3200,
        368
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "webhookId": "93da7255-b2f4-4015-a9bf-7d632469d40c",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const record = $('Code: Merge Alert Decision With Record').item.json;\nreturn { json: { ...record, alert_sent: true } };"
      },
      "id": "debe28b9-b680-4eb7-88a7-7431f40379d6",
      "name": "Code: Mark Alert Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        368
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { ...$json, alert_sent: false } };"
      },
      "id": "6e2b1260-88b8-417a-8461-01ccfacfffbb",
      "name": "Code: Flag Suppressed Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        832
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "PUT_YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "PriceHistory",
          "mode": "list",
          "cachedResultName": "PriceHistory"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.scraped_at }}",
            "competitor_name": "={{ $json.competitor_name }}",
            "product_url": "={{ $json.product_url }}",
            "our_sku": "={{ $json.our_sku }}",
            "title": "={{ $json.title }}",
            "price": "={{ $json.price }}",
            "currency": "={{ $json.currency }}",
            "discount_percent": "={{ $json.discount_percent }}",
            "stock_status": "={{ $json.stock_status }}",
            "shipping_cost": "={{ $json.shipping_cost }}",
            "our_price": "={{ $json.our_price }}",
            "price_diff_vs_us_percent": "={{ $json.price_diff_vs_us_percent }}",
            "change_vs_previous_percent": "={{ $json.change_vs_previous_percent }}",
            "extraction_source": "={{ $json.extraction_source }}",
            "confidence": "={{ $json.confidence }}",
            "significant_change": "={{ $json.significant_change }}",
            "alert_sent": "={{ $json.alert_sent }}",
            "alert_priority": "={{ $json.alert_priority }}",
            "summary": "={{ $json.summary }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "d6173a91-4871-490e-b663-da1ec928b9b7",
      "name": "Log to PriceHistory",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3600,
        528
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "PUT_YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "LatestSnapshot",
          "mode": "list",
          "cachedResultName": "LatestSnapshot"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "match_key": "={{ $json.match_key }}",
            "competitor_name": "={{ $json.competitor_name }}",
            "our_sku": "={{ $json.our_sku }}",
            "last_price": "={{ $json.price }}",
            "last_stock_status": "={{ $json.stock_status }}",
            "last_checked": "={{ $json.scraped_at }}"
          },
          "matchingColumns": [
            "match_key"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "975eee0e-f295-44d4-9087-b5de5bc0e73a",
      "name": "Upsert Latest Snapshot",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3856,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: {\n  run_finished_at: new Date().toISOString(),\n  items_processed: items.length,\n  note: 'Per-item failures are in the FailedScrapes sheet; this only flags that at least one happened.',\n} }];"
      },
      "id": "4728bc34-32e3-429f-b465-639b00631f98",
      "name": "Code: Build Run Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "78fc5b92-f8c8-4ff4-8834-b1d7bd3ae675",
              "leftValue": "={{ $json.items_processed }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "5949d655-a5c1-4691-b6a3-d499b4df3845",
      "name": "IF: Failures Logged This Run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        32
      ]
    },
    {
      "parameters": {
        "sendTo": "store-owner@example.com",
        "subject": "Competitor price monitor - run summary",
        "message": "=<p>Run finished at {{ $json.run_finished_at }}.</p><p>Items processed this run: {{ $json.items_processed }}.</p><p>Check the <b>FailedScrapes</b> sheet for any scrape/API failures (rate limit, auth, timeout) from this run, and <b>PriceHistory</b> for full results.</p>",
        "options": {}
      },
      "id": "5f1bd61d-8a1a-4cad-9fec-d52e7334cfe3",
      "name": "Send Run Summary / Error Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        704,
        16
      ],
      "webhookId": "4f927ee4-8809-45e4-a188-96d83788d9ef"
    },
    {
      "parameters": {
        "content": "# Competitor Price Monitor with AI-Powered Alerts",
        "height": 80,
        "width": 840,
        "color": 4
      },
      "id": "34617b7d-1f30-43b4-ab7b-6a4f3c9a2ebf",
      "name": "Note: Title",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1264,
        112
      ]
    },
    {
      "parameters": {
        "content": "# Overview\nWhen the schedule triggers every 12 hours, this workflow monitors competitor prices and alerts on significant changes:\n\n1. Fetches active competitor URLs from Google Sheets\n2. Scrapes each competitor product page with Firecrawl\n3. Extracts structured product data using an AI agent\n4. Compares competitor price against your own WooCommerce price\n5. Checks for significant changes vs history and sends email alerts if thresholds are crossed",
        "height": 360,
        "width": 380,
        "color": 3
      },
      "id": "3c96a2a7-20c7-419c-b63d-f812e1a357f7",
      "name": "Note: Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        432
      ]
    },
    {
      "parameters": {
        "content": "# Node-by-node Purpose\n\n1. Schedule Trigger - Every 12h\nKicks off the workflow twice daily on a fixed schedule.\n\n2. Get Competitor URLs\nReads active competitor rows from the CompetitorURLs Google Sheet.\n\n3. Loop Over Competitor URLs\nProcesses one competitor URL at a time in a batch loop.\n\n4. Scrape Competitor Page (Firecrawl)\nCalls Firecrawl API to scrape the product page into markdown and product format.\n\n5. IF: Scrape Succeeded?\nChecks if Firecrawl returned success. If yes, proceed to AI extraction. If no, log the failure.\n\n6. Code: Tag Scrape Failure\nClassifies the error type (rate limit, auth, timeout) and captures context.\n\n7. Log Failed Scrape\nWrites failure details to the FailedScrapes sheet for review.\n\n8. AI Agent: Extract Product Data\nUses GPT-4o-mini to parse price, title, SKU, stock status and shipping cost from scraped content.\n\n9. Structured Output Parser: Extraction\nEnforces a JSON schema on the AI output for consistent downstream processing.\n\n10. Code: Reconcile & Normalize\nMerges deterministic Firecrawl data with AI-extracted fields and normalizes the record.\n\n11. Get Our Price (WooCommerce REST)\nLooks up your own product price by SKU via the WooCommerce REST API.\n\n12. Code: Merge Our Price + Diff\nCalculates the percentage difference between your price and the competitor price.\n\n13. Get Latest Snapshot\nReads the previous price record from the LatestSnapshot sheet by match key.\n\n14. Code: Calculate Change vs History\nCompares current scrape to previous snapshot and flags significant changes.\n\n15. IF: Crossed Alert Threshold?\nRoutes significant changes to the alert composer, or bypasses if nothing notable changed.\n\n16. AI Agent: Compose Alert Decision\nUses GPT-4o-mini to catch false positives and compose an actionable alert message.\n\n17. IF: Send Alert?\nRoutes to Gmail if the AI approves sending, or flags as suppressed if deemed a false positive.\n\n18. Send Price Drop Alert\nSends an HTML email to the store owner with competitor details and recommended action.\n\n19. Log to PriceHistory\nAppends the full record to the PriceHistory sheet for audit and trend analysis.\n\n20. Upsert Latest Snapshot\nUpdates or inserts the latest price and stock status into the LatestSnapshot sheet.\n\n21. Send Run Summary / Error Alert\nEmails a run summary pointing to the FailedScrapes and PriceHistory sheets.",
        "height": 964,
        "width": 680,
        "color": 2
      },
      "id": "5347e13c-0419-462c-967c-929841c2ccfc",
      "name": "Note: Node-by-node",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4016,
        272
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger - Every 12h": {
      "main": [
        [
          {
            "node": "Get Competitor URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Competitor URLs": {
      "main": [
        [
          {
            "node": "Loop Over Competitor URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Competitor URLs": {
      "main": [
        [
          {
            "node": "Scrape Competitor Page (Firecrawl)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Build Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Competitor Page (Firecrawl)": {
      "main": [
        [
          {
            "node": "IF: Scrape Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Scrape Succeeded?": {
      "main": [
        [
          {
            "node": "AI Agent: Extract Product Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Tag Scrape Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Tag Scrape Failure": {
      "main": [
        [
          {
            "node": "Log Failed Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Failed Scrape": {
      "main": [
        [
          {
            "node": "Loop Over Competitor URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Extract Product Data",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent: Compose Alert Decision",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser: Extraction": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Extract Product Data",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser: Alert": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Compose Alert Decision",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Extract Product Data": {
      "main": [
        [
          {
            "node": "Code: Reconcile & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Reconcile & Normalize": {
      "main": [
        [
          {
            "node": "Get Our Price (WooCommerce REST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Our Price (WooCommerce REST)": {
      "main": [
        [
          {
            "node": "Code: Merge Our Price + Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Merge Our Price + Diff": {
      "main": [
        [
          {
            "node": "Get Latest Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Snapshot": {
      "main": [
        [
          {
            "node": "Code: Calculate Change vs History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Calculate Change vs History": {
      "main": [
        [
          {
            "node": "IF: Crossed Alert Threshold?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Crossed Alert Threshold?": {
      "main": [
        [
          {
            "node": "AI Agent: Compose Alert Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: No Significant Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Compose Alert Decision": {
      "main": [
        [
          {
            "node": "Code: Merge Alert Decision With Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Merge Alert Decision With Record": {
      "main": [
        [
          {
            "node": "IF: Send Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Send Alert?": {
      "main": [
        [
          {
            "node": "Send Price Drop Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Flag Suppressed Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Price Drop Alert": {
      "main": [
        [
          {
            "node": "Code: Mark Alert Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Mark Alert Sent": {
      "main": [
        [
          {
            "node": "Log to PriceHistory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Flag Suppressed Alert": {
      "main": [
        [
          {
            "node": "Log to PriceHistory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: No Significant Change": {
      "main": [
        [
          {
            "node": "Log to PriceHistory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to PriceHistory": {
      "main": [
        [
          {
            "node": "Upsert Latest Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Latest Snapshot": {
      "main": [
        [
          {
            "node": "Loop Over Competitor URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Run Summary": {
      "main": [
        [
          {
            "node": "IF: Failures Logged This Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Failures Logged This Run?": {
      "main": [
        [
          {
            "node": "Send Run Summary / Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7cfe9cbd-e32f-41f7-838b-2dc897d77a12",
  "meta": {
    "instanceId": "e1f53822c1dd3bfd16c73e148fe6df093b0e5e171f5879fb4fc94007ad73a3e2"
  },
  "id": "jzkYDuzkggsACcA9",
  "tags": []
}